.react-date-picker__clear-button {
    z-index: -1;
    
}
.cardlist{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-bottom: 3em;
}

.cardlist .mb-5 {
    box-shadow: 2px 2px 4px 3px rgba(85, 85, 85, 0.424);
    text-align:left;
    margin: 23px  16px 10px 16px;
}
.cardlist .mb-5 .card-header{
    font-size:1.5em;
    font-weight:bold;
    text-align: center;
}
.cardlist .mb-5 .card-text {
    font-size:1.2em;
}
.cardlist .mb-5 button{
  margin-left:1em;
  position: relative;
  left: 3.4em;
}
.cardlist .mb-5 svg{
    height: 1.7em;
    width: 1.5em;
}

  .btnadd {
    position: relative;
    left: 3.4%;
    top: 0.3em;
    font-size: 15px;
    font-weight: 500;
    width: 18%;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 3px rgb(141 141 141 / 42%);
    border: 1px solid  #f4f2f2;
    background-color: #FFCA2C;
}
  
  .btnadd svg{
    height: 1.7em;
    width: 2em;
  }
  #offcanvas{
      position: absolute;
      top: 9em;
      left: 0em;
      width: 18em;
      height: 3.5em;
      border: 0.5em solid transparent wheat;
      box-shadow: 2px 2px 4px 3px rgba(141, 141, 141, 0.424);
      display: inline-block;
      border-radius: 0.2em; 
   }
   .country{
    color:black;
     border: "1px solid black";
     display: inline-block;
      width:"16ch";
      height:"3ch" ;
      text-align:"center";
      position: relative;
      left: 79.5em;
      top: -3.9em;
     }
   #offcanvas{
    background-color: #F0F0F0;
    position: relative;
    left: .5em;
    top: -6.75em;
    padding-left: 14px;
 }
 .react-date-picker__wrapper{
 display: flex;
 flex-grow: 1;
 flex-shrink: 0;
 border: thin solid gray;
 position: relative;
 top: -250px;
 width: 250px;
 justify-content: space-evenly;
 padding-left: 73PX;
 font-weight: bold;
 height: 3.5em;
 box-shadow: 2px 2px 4px 3px rgba(141, 141, 141, 0.424);
 border: 1px solid  #f4f2f2;
 border-radius: 5px;
 left: 31.5em;}

 .btnMov{
position: relative;
    left: 188px;
    top: -53px;
    height: 3.5em;
    margin: 0;
    background-color: #F0F0F0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(141, 141, 141, 0.424);
    border: 1px solid  #f4f2f2;

 }
 .react-calendar{
    position: relative;
    left: 400px;
    top: 92px;
 }