.footer{
    display:inline-block;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 4px 3px rgba(85, 85, 85, 0.424);
    width: 100%;
    padding:2em;
}
.footer img{
    margin-top: 2%;
    margin-left: 3%;
    width: 16em;
    height: 6em;
  
}
.footerBrand{
    position: relative;
    top:2%;
    display:inline-block;
    left:38.5%;
}

.footer hr{
    position: relative;
    top:1em;
}
.footer .vision{
    /* border: 1px solid red; */
    position: relative;
    left: 7%;
    bottom: 3%;
    width: 18%;
    display: inline-block;
    text-align: justify;
}
 .vision h5{
    margin-left: 0em;
    margin-bottom: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#364f6d;
}
.vision p{
    font-size:0.9em;
    /* font-weight:bold; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.footer .contact{
    /* border: 1px solid rgb(153, 63, 63); */
    display:inline-block;
    position: relative;
    left: 14%;;
    top: 3em;
    width: 15em;
    text-align: center;
}
.footer .contact h6{
    font-weight: bolder;
    font-size: large;
    width: 15em;
    
}
.footer .contact p{
    font-weight: bold;
    width: 15em;
}
.footer .icons{
        /* border: 1px solid red; */
        display:inline-block;
        position: relative;
        left: 25%;
        bottom: 5em;
}
.icons svg{
    margin-left: 2em;
    width: 2em;
    height: 2em;
}
